<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Selenium Grid Orange HRM</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86b9e3">  <td>18/06/21 10:48:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChromeTestManager.setupTest(org.testng.ITestContext)[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@3738449f]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1985421782</td>   <td></td> </tr>
<tr bgcolor="86b9e3">  <td>18/06/21 10:48:08</td>   <td>3674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.login()[pri:1, instance:com.peterwkc.TestManager.ChromeTestManager@3738449f]">login</td> 
  <td>TestNG@1985421782</td>   <td></td> </tr>
<tr bgcolor="86b9e3">  <td>18/06/21 10:48:20</td>   <td>15313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.addUser()[pri:2, instance:com.peterwkc.TestManager.ChromeTestManager@3738449f]">addUser</td> 
  <td>TestNG@1985421782</td>   <td></td> </tr>
<tr bgcolor="86b9e3">  <td>18/06/21 10:48:24</td>   <td>19255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.deleteUser()[pri:2, instance:com.peterwkc.TestManager.ChromeTestManager@3738449f]">deleteUser</td> 
  <td>TestNG@1985421782</td>   <td></td> </tr>
<tr bgcolor="86b9e3">  <td>18/06/21 10:48:27</td>   <td>22623</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChromeTestManager.tearDown()[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@3738449f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1985421782</td>   <td></td> </tr>
</table>
