<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Admin</td><td>ChromeTestManager.addJobTitle()[pri:2, instance:com.peterwkc.TestManager.ChromeTestManager@18d87d80]<br/>ChromeTestManager.addUser()[pri:2, instance:com.peterwkc.TestManager.ChromeTestManager@18d87d80]<br/>ChromeTestManager.deleteUser()[pri:2, instance:com.peterwkc.TestManager.ChromeTestManager@18d87d80]<br/></td></tr>
<tr><td>Login</td><td>ChromeTestManager.login()[pri:1, instance:com.peterwkc.TestManager.ChromeTestManager@18d87d80]<br/></td></tr>
</table>
