<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="72a8b5">  <td>18/06/21 16:17:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.addJobTitle()[pri:2, instance:com.peterwkc.TestManager.ChromeTestManager@18d87d80]">addJobTitle</td> 
  <td>main@589311950</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/06/21 16:17:45</td>   <td>3751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.addUser()[pri:2, instance:com.peterwkc.TestManager.ChromeTestManager@18d87d80]">addUser</td> 
  <td>main@589311950</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/06/21 16:17:48</td>   <td>7152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.deleteUser()[pri:2, instance:com.peterwkc.TestManager.ChromeTestManager@18d87d80]">deleteUser</td> 
  <td>main@589311950</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/06/21 16:17:30</td>   <td>-10938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTestManager.login()[pri:1, instance:com.peterwkc.TestManager.ChromeTestManager@18d87d80]">login</td> 
  <td>main@589311950</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/06/21 16:17:26</td>   <td>-15133</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChromeTestManager.setupTest(org.testng.ITestContext)[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@18d87d80]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@589311950</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>18/06/21 16:17:50</td>   <td>9679</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChromeTestManager.tearDown()[pri:0, instance:com.peterwkc.TestManager.ChromeTestManager@18d87d80]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@589311950</td>   <td></td> </tr>
</table>
